In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
# import random

In [2]:
df = pd.read_excel('titanic3.xls', 'titanic3', index_col=None, na_values=['NA'])
df.head(5)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [3]:
df.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [4]:
df.count()

pclass       1309
survived     1309
name         1309
sex          1309
age          1046
sibsp        1309
parch        1309
ticket       1309
fare         1308
cabin         295
embarked     1307
boat          486
body          121
home.dest     745
dtype: int64

In [7]:
df= df.drop(['body','cabin','boat'], axis=1)
df["home.dest"] = df["home.dest"].fillna("NA")
df = df.dropna()
df.count()

pclass       1043
survived     1043
name         1043
sex          1043
age          1043
sibsp        1043
parch        1043
ticket       1043
fare         1043
embarked     1043
home.dest    1043
dtype: int64

In [9]:
from sklearn import preprocessing

def preprocess_titanic_df(df):
    processed_df = df.copy()
    le = preprocessing.LabelEncoder()
    processed_df.sex = le.fit_transform(processed_df.sex)
    processed_df.embarked = le.fit_transform(processed_df.embarked)
    processed_df = processed_df.drop(['name','ticket','home.dest'],axis=1)
#    processed_df = processed_df.drop(['name'],axis=1)
    return processed_df

pro_df = preprocess_titanic_df(df)

pro_df.head()

   pclass  survived  sex      age  sibsp  parch      fare  embarked
0       1         1    0  29.0000      0      0  211.3375         2
1       1         1    1   0.9167      1      2  151.5500         2
2       1         0    0   2.0000      1      2  151.5500         2
3       1         0    1  30.0000      1      2  151.5500         2
4       1         0    0  25.0000      1      2  151.5500         2

In [10]:
X = pro_df.drop(['survived'], axis=1).values
y = pro_df['survived'].values

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

# Computational Brains — An Introduction to Deep Neural Networks
## 작은 글씨

In [12]:
feature_columns = [tf.contrib.layers.real_valued_column("", dimension=8)]

In [13]:
#from tensorflow.contrib.learn.python import SKCompat

#tf_clf_dnn = SKCompat(tf.contrib.learn.DNNClassifier(feature_columns=feature_columns,hidden_units=[20, 40, 20], n_classes=2))
tf_clf_dnn = tf.contrib.learn.DNNClassifier(feature_columns=feature_columns,
                                            hidden_units=[20, 40, 20], n_classes=2)

WARNING:tensorflow:Using temporary folder as model directory: C:\Users\Public\Documents\ESTsoft\CreatorTemp\tmpgnx1sco7
INFO:tensorflow:Using default config.
INFO:tensorflow:Using config: {'_evaluation_master': '', '_tf_config': gpu_options {
  per_process_gpu_memory_fraction: 1
}
, '_num_ps_replicas': 0, '_task_id': 0, '_keep_checkpoint_max': 5, '_task_type': None, '_environment': 'local', '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x000000000C3B0B38>, '_keep_checkpoint_every_n_hours': 10000, '_save_checkpoints_secs': 600, '_master': '', '_is_chief': True, '_save_checkpoints_steps': None, '_save_summary_steps': 100, '_tf_random_seed': None}

In [14]:
tf_clf_dnn.fit(x=X_train, y=y_train, steps=1000)
#tf_clf_dnn.fit(X_train)

WARNING:tensorflow:From <ipython-input-14-d700d9c29f2b>:1: calling BaseEstimator.fit (from tensorflow.contrib.learn.python.learn.estimators.estimator) with x is deprecated and will be removed after 2016-12-01.
Instructions for updating:
Estimator is decoupled from Scikit Learn interface by moving into
separate class SKCompat. Arguments x, y and batch_size are only
available in the SKCompat class, Estimator will only accept input_fn.
Example conversion:
  est = Estimator(...) -> est = SKCompat(Estimator(...))
WARNING:tensorflow:From <ipython-input-14-d700d9c29f2b>:1: calling BaseEstimator.fit (from tensorflow.contrib.learn.python.learn.estimators.estimator) with y is deprecated and will be removed after 2016-12-01.
Instructions for updating:
Estimator is decoupled from Scikit Learn interface by moving into
separate class SKCompat. Arguments x, y and batch_size are only
available in the SKCompat class, Estimator will only accept input_fn.
Example conversion:
  est = Estimator(...) -> est = SKCompat(Estimator(...))
WARNING:tensorflow:float64 is not supported by many models, consider casting to float32.
WARNING:tensorflow:From C:\ProgramData\Anaconda3\envs\tensorflow1\lib\site-packages\tensorflow\contrib\learn\python\learn\estimators\head.py:1362: scalar_summary (from tensorflow.python.ops.logging_ops) is deprecated and will be removed after 2016-11-30.
Instructions for updating:
Please switch to tf.summary.scalar. Note that tf.summary.scalar uses the node name instead of the tag. This means that TensorFlow will automatically de-duplicate summary names based on the scope they are created in. Also, passing a tensor or list of tags to a scalar summary op is no longer supported.

C:\ProgramData\Anaconda3\envs\tensorflow1\lib\site-packages\tensorflow\python\util\deprecation.py:247: FutureWarning: comparison to `None` will result in an elementwise object comparison in the future.
  equality = a == b

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into C:\Users\Public\Documents\ESTsoft\CreatorTemp\tmpgnx1sco7\model.ckpt.
INFO:tensorflow:loss = 2.5458, step = 1
INFO:tensorflow:global_step/sec: 216.438
INFO:tensorflow:loss = 0.59379, step = 101
INFO:tensorflow:global_step/sec: 230.934
INFO:tensorflow:loss = 0.572551, step = 201
INFO:tensorflow:global_step/sec: 235.281
INFO:tensorflow:loss = 0.550017, step = 301
INFO:tensorflow:global_step/sec: 240.95
INFO:tensorflow:loss = 0.52106, step = 401
INFO:tensorflow:global_step/sec: 230.934
INFO:tensorflow:loss = 0.492852, step = 501
INFO:tensorflow:global_step/sec: 228.297
INFO:tensorflow:loss = 0.471152, step = 601
INFO:tensorflow:global_step/sec: 233.631
INFO:tensorflow:loss = 0.454792, step = 701
INFO:tensorflow:global_step/sec: 242.117
INFO:tensorflow:loss = 0.443596, step = 801
INFO:tensorflow:global_step/sec: 240.95
INFO:tensorflow:loss = 0.439786, step = 901
INFO:tensorflow:Saving checkpoints for 1000 into C:\Users\Public\Documents\ESTsoft\CreatorTemp\tmpgnx1sco7\model.ckpt.
INFO:tensorflow:Loss for final step: 0.437665.

DNNClassifier(params={'gradient_clip_norm': None, 'activation_fn': <function relu at 0x000000000799C378>, 'head': <tensorflow.contrib.learn.python.learn.estimators.head._BinaryLogisticHead object at 0x000000000CF46A20>, 'embedding_lr_multipliers': None, 'feature_columns': (_RealValuedColumn(column_name='', dimension=8, default_value=None, dtype=tf.float32, normalizer=None),), 'dropout': None, 'optimizer': None, 'input_layer_min_slice_size': None, 'hidden_units': [20, 40, 20]})

In [15]:
#tf_clf_dnn.score(X_test, y_test)
y_pred = tf_clf_dnn.predict(X_test)

WARNING:tensorflow:From C:\ProgramData\Anaconda3\envs\tensorflow1\lib\site-packages\tensorflow\contrib\learn\python\learn\estimators\dnn.py:374: calling BaseEstimator.predict (from tensorflow.contrib.learn.python.learn.estimators.estimator) with x is deprecated and will be removed after 2016-12-01.
Instructions for updating:
Estimator is decoupled from Scikit Learn interface by moving into
separate class SKCompat. Arguments x, y and batch_size are only
available in the SKCompat class, Estimator will only accept input_fn.
Example conversion:
  est = Estimator(...) -> est = SKCompat(Estimator(...))
WARNING:tensorflow:float64 is not supported by many models, consider casting to float32.

C:\ProgramData\Anaconda3\envs\tensorflow1\lib\site-packages\tensorflow\python\util\deprecation.py:247: FutureWarning: comparison to `None` will result in an elementwise object comparison in the future.
  equality = a == b

In [16]:
#accuracy_score = tf_clf_dnn.score(x=X_test,y=y_test)["accuracy"]
accuracy_score = tf_clf_dnn.evaluate(x=X_test,y=y_test)["accuracy"]

WARNING:tensorflow:From <ipython-input-16-b2713cec67e4>:2: calling BaseEstimator.evaluate (from tensorflow.contrib.learn.python.learn.estimators.estimator) with x is deprecated and will be removed after 2016-12-01.
Instructions for updating:
Estimator is decoupled from Scikit Learn interface by moving into
separate class SKCompat. Arguments x, y and batch_size are only
available in the SKCompat class, Estimator will only accept input_fn.
Example conversion:
  est = Estimator(...) -> est = SKCompat(Estimator(...))
WARNING:tensorflow:From <ipython-input-16-b2713cec67e4>:2: calling BaseEstimator.evaluate (from tensorflow.contrib.learn.python.learn.estimators.estimator) with y is deprecated and will be removed after 2016-12-01.
Instructions for updating:
Estimator is decoupled from Scikit Learn interface by moving into
separate class SKCompat. Arguments x, y and batch_size are only
available in the SKCompat class, Estimator will only accept input_fn.
Example conversion:
  est = Estimator(...) -> est = SKCompat(Estimator(...))
WARNING:tensorflow:float64 is not supported by many models, consider casting to float32.
WARNING:tensorflow:From C:\ProgramData\Anaconda3\envs\tensorflow1\lib\site-packages\tensorflow\contrib\learn\python\learn\estimators\head.py:1362: scalar_summary (from tensorflow.python.ops.logging_ops) is deprecated and will be removed after 2016-11-30.
Instructions for updating:
Please switch to tf.summary.scalar. Note that tf.summary.scalar uses the node name instead of the tag. This means that TensorFlow will automatically de-duplicate summary names based on the scope they are created in. Also, passing a tensor or list of tags to a scalar summary op is no longer supported.

C:\ProgramData\Anaconda3\envs\tensorflow1\lib\site-packages\tensorflow\python\util\deprecation.py:247: FutureWarning: comparison to `None` will result in an elementwise object comparison in the future.
  equality = a == b

INFO:tensorflow:Starting evaluation at 2017-06-25-02:02:25
INFO:tensorflow:Finished evaluation at 2017-06-25-02:02:25
INFO:tensorflow:Saving dict for global step 1000: accuracy = 0.785942, accuracy/baseline_label_mean = 0.405751, accuracy/threshold_0.500000_mean = 0.785942, auc = 0.82457, global_step = 1000, labels/actual_label_mean = 0.405751, labels/prediction_mean = 0.351118, loss = 0.494759, precision/positive_threshold_0.500000_mean = 0.826087, recall/positive_threshold_0.500000_mean = 0.598425
WARNING:tensorflow:Skipping summary for global_step, must be a float or np.float32.

In [17]:
print ('score : %8.4f' % accuracy_score)

score :   0.7859

1등석에서 10명 2등석에서 10명 3등석에서 10명으로 테스트해보자

In [19]:
passengers_set_1 = df[df.pclass == 1].iloc[:10,:].copy()
passengers_set_2 = df[df.pclass == 2].iloc[:10,:].copy()
passengers_set_3 = df[df.pclass == 3].iloc[:10,:].copy()
passenger_set = pd.concat([passengers_set_1,passengers_set_2,passengers_set_3])

In [20]:
testing_set = preprocess_titanic_df(passenger_set)

In [23]:
training_set = pd.concat([df, passenger_set]).drop_duplicates(keep=False)
training_set = preprocess_titanic_df(training_set)

In [24]:
testing_set.head(10)

   pclass  survived  sex      age  sibsp  parch      fare  embarked
0       1         1    0  29.0000      0      0  211.3375         1
1       1         1    1   0.9167      1      2  151.5500         1
2       1         0    0   2.0000      1      2  151.5500         1
3       1         0    1  30.0000      1      2  151.5500         1
4       1         0    0  25.0000      1      2  151.5500         1
5       1         1    1  48.0000      0      0   26.5500         1
6       1         1    0  63.0000      1      0   77.9583         1
7       1         0    1  39.0000      0      0    0.0000         1
8       1         1    0  53.0000      2      0   51.4792         1
9       1         0    1  71.0000      0      0   49.5042         0

In [25]:
X_train = training_set.drop(['survived'], axis=1).values
y_train = training_set['survived'].values

X_test = testing_set.drop(['survived'], axis=1).values
y_test = testing_set['survived'].values

(연습, batch_size와 steps를 조절)

In [26]:
tf_clf_dnn.fit(X_test, y_test, batch_size=20, steps=1000)

WARNING:tensorflow:From <ipython-input-26-cafdd4511c43>:1: calling BaseEstimator.fit (from tensorflow.contrib.learn.python.learn.estimators.estimator) with x is deprecated and will be removed after 2016-12-01.
Instructions for updating:
Estimator is decoupled from Scikit Learn interface by moving into
separate class SKCompat. Arguments x, y and batch_size are only
available in the SKCompat class, Estimator will only accept input_fn.
Example conversion:
  est = Estimator(...) -> est = SKCompat(Estimator(...))
WARNING:tensorflow:From <ipython-input-26-cafdd4511c43>:1: calling BaseEstimator.fit (from tensorflow.contrib.learn.python.learn.estimators.estimator) with y is deprecated and will be removed after 2016-12-01.
Instructions for updating:
Estimator is decoupled from Scikit Learn interface by moving into
separate class SKCompat. Arguments x, y and batch_size are only
available in the SKCompat class, Estimator will only accept input_fn.
Example conversion:
  est = Estimator(...) -> est = SKCompat(Estimator(...))
WARNING:tensorflow:From <ipython-input-26-cafdd4511c43>:1: calling BaseEstimator.fit (from tensorflow.contrib.learn.python.learn.estimators.estimator) with batch_size is deprecated and will be removed after 2016-12-01.
Instructions for updating:
Estimator is decoupled from Scikit Learn interface by moving into
separate class SKCompat. Arguments x, y and batch_size are only
available in the SKCompat class, Estimator will only accept input_fn.
Example conversion:
  est = Estimator(...) -> est = SKCompat(Estimator(...))
WARNING:tensorflow:float64 is not supported by many models, consider casting to float32.
WARNING:tensorflow:From C:\ProgramData\Anaconda3\envs\tensorflow1\lib\site-packages\tensorflow\contrib\learn\python\learn\estimators\head.py:1362: scalar_summary (from tensorflow.python.ops.logging_ops) is deprecated and will be removed after 2016-11-30.
Instructions for updating:
Please switch to tf.summary.scalar. Note that tf.summary.scalar uses the node name instead of the tag. This means that TensorFlow will automatically de-duplicate summary names based on the scope they are created in. Also, passing a tensor or list of tags to a scalar summary op is no longer supported.

C:\ProgramData\Anaconda3\envs\tensorflow1\lib\site-packages\tensorflow\python\util\deprecation.py:247: FutureWarning: comparison to `None` will result in an elementwise object comparison in the future.
  equality = a == b

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1001 into C:\Users\Public\Documents\ESTsoft\CreatorTemp\tmpgnx1sco7\model.ckpt.
INFO:tensorflow:loss = 0.503431, step = 1001
INFO:tensorflow:global_step/sec: 806.406
INFO:tensorflow:loss = 0.348396, step = 1101
INFO:tensorflow:global_step/sec: 980.335
INFO:tensorflow:loss = 0.27596, step = 1201
INFO:tensorflow:global_step/sec: 999.944
INFO:tensorflow:loss = 0.184582, step = 1301
INFO:tensorflow:global_step/sec: 909.039
INFO:tensorflow:loss = 0.241202, step = 1401
INFO:tensorflow:global_step/sec: 917.379
INFO:tensorflow:loss = 0.169426, step = 1501
INFO:tensorflow:global_step/sec: 952.327
INFO:tensorflow:loss = 0.12585, step = 1601
INFO:tensorflow:global_step/sec: 961.483
INFO:tensorflow:loss = 0.125909, step = 1701
INFO:tensorflow:global_step/sec: 961.485
INFO:tensorflow:loss = 0.143844, step = 1801
INFO:tensorflow:global_step/sec: 999.941
INFO:tensorflow:loss = 0.102059, step = 1901
INFO:tensorflow:Saving checkpoints for 2000 into C:\Users\Public\Documents\ESTsoft\CreatorTemp\tmpgnx1sco7\model.ckpt.
INFO:tensorflow:Loss for final step: 0.0913467.

DNNClassifier(params={'gradient_clip_norm': None, 'activation_fn': <function relu at 0x000000000799C378>, 'head': <tensorflow.contrib.learn.python.learn.estimators.head._BinaryLogisticHead object at 0x000000000CF46A20>, 'embedding_lr_multipliers': None, 'feature_columns': (_RealValuedColumn(column_name='', dimension=8, default_value=None, dtype=tf.float32, normalizer=None),), 'dropout': None, 'optimizer': None, 'input_layer_min_slice_size': None, 'hidden_units': [20, 40, 20]})

In [27]:
#score = tf_clf_dnn.score(x=X_test,y=y_test)["accuracy"]

score = tf_clf_dnn.evaluate(x=X_test,y=y_test)["accuracy"]

prediction = list(tf_clf_dnn.predict(X_test))
#print('Accuracy: {0:f}'.format(score))
print('Accuracy : %8.4f' % score)
print(y_test)
print(prediction)

WARNING:tensorflow:From <ipython-input-27-f2059e9ac16d>:3: calling BaseEstimator.evaluate (from tensorflow.contrib.learn.python.learn.estimators.estimator) with x is deprecated and will be removed after 2016-12-01.
Instructions for updating:
Estimator is decoupled from Scikit Learn interface by moving into
separate class SKCompat. Arguments x, y and batch_size are only
available in the SKCompat class, Estimator will only accept input_fn.
Example conversion:
  est = Estimator(...) -> est = SKCompat(Estimator(...))
WARNING:tensorflow:From <ipython-input-27-f2059e9ac16d>:3: calling BaseEstimator.evaluate (from tensorflow.contrib.learn.python.learn.estimators.estimator) with y is deprecated and will be removed after 2016-12-01.
Instructions for updating:
Estimator is decoupled from Scikit Learn interface by moving into
separate class SKCompat. Arguments x, y and batch_size are only
available in the SKCompat class, Estimator will only accept input_fn.
Example conversion:
  est = Estimator(...) -> est = SKCompat(Estimator(...))
WARNING:tensorflow:float64 is not supported by many models, consider casting to float32.
WARNING:tensorflow:From C:\ProgramData\Anaconda3\envs\tensorflow1\lib\site-packages\tensorflow\contrib\learn\python\learn\estimators\head.py:1362: scalar_summary (from tensorflow.python.ops.logging_ops) is deprecated and will be removed after 2016-11-30.
Instructions for updating:
Please switch to tf.summary.scalar. Note that tf.summary.scalar uses the node name instead of the tag. This means that TensorFlow will automatically de-duplicate summary names based on the scope they are created in. Also, passing a tensor or list of tags to a scalar summary op is no longer supported.

C:\ProgramData\Anaconda3\envs\tensorflow1\lib\site-packages\tensorflow\python\util\deprecation.py:247: FutureWarning: comparison to `None` will result in an elementwise object comparison in the future.
  equality = a == b

INFO:tensorflow:Starting evaluation at 2017-06-25-02:03:19
INFO:tensorflow:Finished evaluation at 2017-06-25-02:03:20
INFO:tensorflow:Saving dict for global step 2000: accuracy = 0.966667, accuracy/baseline_label_mean = 0.4, accuracy/threshold_0.500000_mean = 0.966667, auc = 0.99537, global_step = 2000, labels/actual_label_mean = 0.4, labels/prediction_mean = 0.377655, loss = 0.106099, precision/positive_threshold_0.500000_mean = 1.0, recall/positive_threshold_0.500000_mean = 0.916667
WARNING:tensorflow:Skipping summary for global_step, must be a float or np.float32.
WARNING:tensorflow:From C:\ProgramData\Anaconda3\envs\tensorflow1\lib\site-packages\tensorflow\contrib\learn\python\learn\estimators\dnn.py:374: calling BaseEstimator.predict (from tensorflow.contrib.learn.python.learn.estimators.estimator) with x is deprecated and will be removed after 2016-12-01.
Instructions for updating:
Estimator is decoupled from Scikit Learn interface by moving into
separate class SKCompat. Arguments x, y and batch_size are only
available in the SKCompat class, Estimator will only accept input_fn.
Example conversion:
  est = Estimator(...) -> est = SKCompat(Estimator(...))
WARNING:tensorflow:float64 is not supported by many models, consider casting to float32.
Accuracy :   0.9667
[1 1 0 0 0 1 1 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 1 1 1 1 1 0 0]
[1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0]

In [28]:
passenger_set[passenger_set.survived != prediction]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,embarked,home.dest
605,3,1,"Abelseth, Mr. Olaus Jorgensen",male,25.0,0,0,348122,7.65,S,"Perkins County, SD"